
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 255, 255);
    color: #1f8a96;
    margin: 0px;
    padding: 0px;
}

/* NAV */
nav {
    
    background-color: rgb(35, 184, 234);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:10px, 10px,10px;
}
 
nav .logo {

      width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #89f021;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;

}
 
nav .menu a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    cursor:pointer;
    transition:all, 1s linear;
    border: 1px,white;

    
}
 
nav .menu a:hover { 
    color:rgb(255, 255, 255);
    text-decoration: underline;
    font-size: large;
    border: 1px , black;
    

}
.menu_icon
{
    display:none;
}

/* MAIN CONTENT */
.content {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color:rgb(30, 192, 60);
    
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: rgb(60, 43, 43);
}

p {
    font-size: 15px;
    line-height: 1.7;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}
/* LIST */
ul {
    margin: 10px 0 15px 20px;
}

ul li {
    font-size: 15px;
    color: #555;
    margin-bottom: 6px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color:papayawhip;
    font-weight: bold;
    padding: 10;
}

.div
{
    text-align: center;
}

.banner
{
    align-items: center;
    background-color: aquamarine;
    height: 700px;
    width: 100%;

display: flex;
justify-content: center;
align-items: center;
    
}
.banner img{
    align-items: center;
    height:100%;
    width:400px;
    object-fit: cover;
}
.background{
    height: 1000px;
    width:100%;
    background-image: url('../resources/image/img2.jpeg');
       background-repeat:no-repeat ;
       background-size:contain;
}



@media(max-width:480px){
    body{
background-color:rgb(247, 247, 247);}
    

.logo{
    height: 40px;
    width: 40px;
    font-size:14px;
}
    .menu{
        display:none;
    }

.menu_icon{
    display:block;
    height: 40px !important;
    width: 4opx !important;

}
.menu_icon svg{
    
    color: white;
    background-color: #555;

}
.banner
{
    height: 300px;
    
}
}